{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block container %}



<!-- messages / alerts -->

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class="alert alert-success"{% endif %} style="list-style: none;">{{message}}</li>
    {% endfor %}
</ul>
{% endif %}



<!-- Nested Row within Card Body -->
<div class="d-flex align-items-center justify-content-center">
    <div class="p-5" style="width:69%;">
        <div class="text-center">
            <h1 class="h4 mb-4" style="color: white;">Registrar novos usuários =)</h1>
        </div>

        <form method="POST" class="user" action="{% url 'registro-usuario' %}"> {% csrf_token %} 
                <div class="form-group">
                    <input type="text" name="nome-usuario" class="form-control form-control-user" placeholder="Username" 
                    id='nome-usuario'>
                </div>

                <div class="form-group"> 
                    <input type="email" name="email" class="form-control form-control-user" placeholder="Email Address"
                    id='email'>
                </div>

                <div class="form-group">
                    <input type="password" name="senha" class="form-control form-control-user" placeholder="Password" 
                    id='senha'>
                </div>

            <button type="submit" class="btn btn-dark btn-user btn-block">
                Registrar
            </button>
        </form>
    </div>
</div>


{% endblock %}