{% extends 'base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block container %}

<!-- Nested Row within Card Body -->
<div class="d-flex align-items-center justify-content-center">
    <div class="p-5" style="width:69%;">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">{{ titulo }}</h1>
        </div>

        <form method="POST" class="user" action="{% url 'registro-usuario' %}"> {% csrf_token %} 
                <div class="form-group">
                    <input type="text" name="nome-usuario" class="form-control form-control-user" placeholder="Username" 
                    id='nome-usuario'>
                </div>

                <div class="form-group"> 
                    <input type="email" name="email" class="form-control form-control-user" placeholder="Email Address"
                    id='email'>
                </div>

                <div class="form-group">
                    <input type="password" name="senha" class="form-control form-control-user" placeholder="Password" 
                    id='senha'>
                </div>

            <button type="submit" class="btn btn-primary btn-user btn-block">
                Registrar
            </button>
        </form>
    </div>
</div>


{% endblock %}